@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Genshin";
  src: url(fonts/zh-cn.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Genshin", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("../public/images/cursor.png") 16 16, auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
